<%= form_for prenda do |f| %>
  <% if prenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prenda.errors.count, "error") %> prohibited this prenda from being saved:</h2>

      <ul>
      <% prenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :textura %><br/>
    <%= f.select(:textura, options_for_select(Prenda.texturas.keys.to_a))%>
  </p>
  <p>
    <%= f.label :color %><br/>
    <%= f.color_field :color%>
  </p>
  <p >
    <%= f.label :color_secundario %><br/>
    <%= f.color_field :color_secundario%>
  </p>
  <p>
    <%= f.label :categoria %><br/>
    <%= f.select(:categoria, options_for_select(Prenda.categoria.keys.to_a)) %>
  </p>
  <p>
    <%= f.label :tipo %><br/>
    <%= f.select(:tipo, options_for_select(Prenda.tipos.keys.to_a)) %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
