<div>
  <tr>
    <td><%= prenda.textura %></td>
    <td class="color-col"><%= prenda.color %></td><br>
    <td class="color-col"><%= prenda.color_secundario %></td>
    <td><%= prenda.categoria %></td>
    <td><%= prenda.tipo %></td>
    <td colspan="3">
      <%= link_to edit_prenda_path(prenda) do %>
        <i class="far fa-edit fa-2x"></i>
      <% end %>

      <%= link_to prenda do%>
        <i class="far fa-eye fa-2x"></i>
      <% end %>

      <%= link_to prenda, method: :delete, data: { confirm: 'Estas Seguro?' } do%>
        <i class="far fa-trash-alt fa-2x"></i>
      <% end %>
    </td>
  </tr>
</div>
