<p id="notice"><%= notice %></p>

<div>
  <h1>Prenda <%= @prenda.id %></h1>
  <div class="prendas-view">
    <table class="guardarropa">

      <tr> <%= render 'header_prenda', should_show: true%> </tr>
      <tr>
        <%= render 'prenda', prenda: @prenda %>
      </tr>
    </table>
  </div>
  <div class="prendas-btn">
    <%= link_to "Volver", prendas_path%>
  </div>
</div>
